.hero__container {
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url("../../../public/assets/red-bg.png");
  /* background-size: cover; --- do this for mobile! */
  grid-column: span 1;
  padding: 5% 10%;
}

.hero__textbox {
  background-color: white;
  text-align: center;
  padding: 5%;
  margin: 0 10%;
}

#hero-intro {
  font-size: 1.4rem;
  padding: 4% 0;
}

#hero-names {
  font-size: 8.5rem;
  font-family: var(--second-font);
  font-style: italic;
  line-height: 105%;
}

#ampersand {
  padding-right: 3rem;
  color: var(--primary-red);
  font-size: 9rem;
}

.inline-container {
  display: inline-flex;
}

#hero-date {
  font-family: var(--second-font);
  font-size: 4.5rem;
  padding: 4% 0;
  color: var(--primary-red);
}


.DetailsBlock__container, .RsvpBlock__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75vh;
  grid-column: span 1;
}

.DetailsBlock__title,
.DetailsBlock__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.DetailsBlock__title {
  background-color: var(--primary-neutral);
}


.DetailsBlock__details {
  display: flex;
  background-color: white;

}

#where-when {
  font-family: var(--second-font);
  font-size: 7rem;
  font-style: italic;
  line-height: 100%;
}

#DetailsBlock__date {
  font-size: 2rem;
  font-weight: 350;
}

#DetailsBlock__address {
  text-align: center;
  font-size: 1.2rem;
}

/* .DetailsBlock__events, .DetailsBlock__event-time {
  text-align: left;
}  */

.DetailsBlock__events {
  padding: 35px 0;
}

.DetailsBlock__event-time {
  color: var(--primary-red);
  font-family: var(--second-font);
  font-size: 3rem;
  font-weight: 500;
  display: inline;
}

/* #details-link {
  display: inline-flex;
  align-items: center;
  color: black;
}*/

/* #details-arrow {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  line-height: 1;
  color: black;
}  */


.RsvpBlock__title, .RsvpBlock__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RsvpBlock__title {
  background-color: var(--primary-red);
}

.RsvpBlock__link {
  background-color: white;
} 


#pls-rsvp {
  font-family: var(--second-font);
  font-size: 7rem;
  font-style: italic;
  line-height: 100%;
}

#RsvpBlock__text {
  font-size: 1.5rem;
  padding: 5%;
}
.about__container {
  display: flex;
  height: 50vh;
  background-color: var(--primary-neutral);
  justify-content: center;
  align-items: center;
  grid-column: span 1;
}

.about__title {
  font-size: 4rem;
  font-family: var(--second-font);
  font-style: italic;
  text-align: center;
}

.footer__container {
  background-color: white;
  grid-column: span 1;
}

.vl {
width: 1px;
 height: 60px;
 background-color: black;
 margin: 4%; 
 }

/* ----- MEDIA QUERIES ----- */
@media (max-width: 768px) {
  .hero__container,
  .DetailsBlock__container,
  .RsvpBlock__container,
  .about__container,
  .footer__container {
    grid-column: span 1;
  }

  .hero__textbox{
    margin: 5% 0;
  }

  .DetailsBlock__container,
  .RsvpBlock__container {
    grid-template-columns: 1fr;
    min-height: 100vh;
  }


  .DetailsBlock__title,
  .DetailsBlock__details, .RsvpBlock__title, .RsvpBlock__link {
    padding: 3rem;
  }

  .RsvpBlock__title {
    order: 1;
  }

  .RsvpBlock__link {
    order: 2;
  }

  #where-when {
    font-size: 4rem;
  }

  .vl {
    height: 45px; 
    margin: 5% auto; 
  }

  #hero-names {
    font-size: 3.8rem;
    font-family: var(--second-font);
    font-style: italic;
  }

  #hero-date {
    font-size: 3.5rem;
  }
  
  #ampersand {
    padding-right: 1rem;
    font-size: 4.1rem;
  }

  .hero-date {
    font-size: 2.8rem;
  }
}