.home__container {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 1fr;
}

.hero__container {
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: rgb(252, 246, 236);
  background-image: url("../../assets/arancera-watercolor.png");
  background-size:cover;
  grid-column: span 1;
  padding: 5% 10%;
}

.hero-textbox {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 5%;
  margin: 0 10%;
}


#hero-intro {
  font-size: 1.4rem;
  padding: 4% 0;
}

#hero-names {
  font-size: 8.5rem;
  font-family: var(--title-font);
  font-style: italic;
  line-height: 105%;
  /* color: var(--primary-blue);
  font-weight: 500; */
}

.hero-textbox .ampersand {
  display: inline-block;
  position: relative;
  top: 4px;
  left: -10px;
  padding-right: 2.8rem;
  /* color: var(--primary-red); */
  font-size: 8.6rem;
  font-family: "Old Standard TT", serif;
  font-weight: 100;
  font-style: italic;
  transform: scaleX(1.3) rotate(-10deg);
}
/* #ampersand {
  display: inline-block;
  position: relative;
  left: -14px;
  padding-right: 2.8rem;
  color: var(--primary-red);
  font-size: 8.5rem;
  font-family: "Kalnia", serif;
  font-weight: 350;
  font-variation-settings:
  "wdth" 105;
} */

/* #ampersand {
  display: inline-block;
  position: relative;
  top: -11px;
  left: -14px;
  padding-right: 2.8rem;
  color: var(--primary-red);
  font-size: 10rem;
  font-family: "Cedarville Cursive", serif;
} */

.inline-container {
  display: inline-flex;
}

#hero-date {
  font-family: var(--title-font);
  font-size: 4.5rem;
  padding: 4% 0;
  /* color: var(--primary-red); */
  display: inline;
}


.date-container .lastName {
  font-size: 20px;
  vertical-align: super;
  letter-spacing: 2px;
}

.date-container .dot {
  font-size: 25px;
  margin: 0 10px;
  /* color: var(--primary-blue); */
}

.DetailsBlock__container, .RsvpBlock__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  grid-column: span 1;
}

.DetailsBlock__title,
.DetailsBlock__details, .RsvpBlock__link, .RsvpBlock__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 7rem 0;
}

.DetailsBlock__title {
  background-color: var(--primary-neutral);
}


.DetailsBlock__details {
  display: flex;
  background-color: white;
}

#where-when {
  font-family: var(--title-font);
  font-size: 7rem;
  font-style: italic;
  line-height: 100%;
  text-align: center;
}

.DetailsBlock__container .ampersand {
  display: inline-block;
  position: relative;
  color: var(--primary-red);
  top: -4px;
  font-size: 7.2rem;
  font-family: "Old Standard TT", serif;
  font-weight: 100;
  font-style: italic;
  transform: scaleX(1.3) rotate(-10deg);
}

#DetailsBlock__date {
  font-size: 2rem;
  font-weight: 350;
}

#DetailsBlock__address {
  text-align: center;
  font-size: 1.2rem;
}


.DetailsBlock__events {
  padding: 35px 0;
}

.DetailsBlock__event-time {
  color: var(--primary-red);
  font-family: var(--title-font);
  font-size: 3rem;
  font-weight: 500;
  display: inline;
}

.RsvpBlock__title {
  background-color: var(--primary-red);
}

.RsvpBlock__link {
  background-color: rgb(252, 246, 236);
} 


#pls-rsvp {
  font-family: var(--title-font);
  font-size: 7rem;
  font-style: italic;
  line-height: 100%;
  text-align: center;
}

#RsvpBlock__text {
  font-size: 1.5rem;
  padding: 5%;
  text-align: center;
}
.about__container {
  display: flex;
  height: 50vh;
  background-image: url("../../assets/amsterdam.JPG");
  background-size: contain;
  background-position: center bottom  29%;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
}

#about__title {
  font-size: 7rem;
  font-family: var(--title-font);
  font-style: italic;
  text-align: center;
}


.vl {
  width: 1px;
  height: 60px;
  background-color: black;
  margin: 4%; 
 }



/* ----- MEDIA QUERIES ----- */
@media (max-width: 768px) {
  .home__container {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
  }

  .hero__container,
  .DetailsBlock__container,
  .RsvpBlock__container,
  .about__container,
  .footer__container {
    grid-column: span 1;
  }

  .hero-textbox{
    min-width: 98%;
    margin: 1rem auto;
  }
  
  #hero-names {
    font-size: 3.8rem;
    /* padding: 0 4rem; */
  }
  
  .hero-textbox .ampersand {
    top:2px;
    left: -5px;
    padding-right: 1rem;
    font-size: 4rem;
  }

  .date-container .lastName, .date-container .dot {
    display: none;
  }

  .DetailsBlock__container,
  .RsvpBlock__container {
    grid-template-columns: 1fr;
    /* min-height: 100vh; */
  }


  .DetailsBlock__title,
  .DetailsBlock__details, .RsvpBlock__title {
    padding: 4rem 1rem;
  }  
  
  .DetailsBlock__container .ampersand {
    top: -1px;
    font-size: 4.5rem;
  }

  .RsvpBlock__title {
    order: 1;
  }

  .RsvpBlock__link {
    order: 2;
    padding: 6rem 1rem;
  }

  #where-when, #pls-rsvp, #about__title {
    font-size: 4rem;
  }

  .vl {
    height: 45px; 
    margin: 5% auto; 
  }

}