.rsvp-form__container{  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-neutral);
  height: 150vh;
  width: 100%;
  padding: 30px;
}

.rsvp-form__container .rsvp-title {
  margin-bottom: 20px;
}

.rsvp-title {
  font-family: var(--title-font);
  font-weight: 100;
  font-size: 35px;
}
#disclaimer {
  width: 60%
}
.rsvp-form__container div {
  margin: 10px 0;
}

.rsvp-form__container label {
  margin: 10px;
}

.rsvp-form__container input[type="radio"] {
  margin-right: 5px;
}

.group-members {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 8px;
}

.group-members label {
  margin: 2px;
}

#member-name {
  font-size: 20px;
  margin-bottom: 5px;
}



/* course buttons  */
.rsvp-btns {
  color: white;
  display: flex; 
  flex-direction: row !important;
  gap: 10px !important;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.meal-preferences {
  display: flex; 
  flex-direction: row !important;
  gap: 80px; 
  margin-top: 20px; 
}

.meal-btns {
  color: white;
  display: flex; 
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.meal-option {
  color: white;
  cursor: pointer;
  padding: .9rem 2.2rem;
  background-color: var(--primary-red);
  border: none;
}

.meal-option:hover {
  background-color: #ccd584;
}

.meal-option.selected {
  background-color: #ccd584 ;
  color: rgb(255, 255, 255);
  border-color: var(--primary-accent-dark);
}

.special-request-label {
  display: block;
}

/* -------------- MEDIA QUERIES --------------- */
@media (max-width: 768px) {
  .rsvp-form__container {
    padding: 45px 25px;
  }
  #disclaimer {
    width: 100%;
    margin-bottom: 1rem;
  }
}