.rsvp-form__container{  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-neutral);
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.rsvp-form__container .rsvp-title {
  margin-bottom: 20px;
}

.rsvp-title {
  font-family: var(--title-font);
  font-weight: 100;
  font-size: 35px;
}
#disclaimer {
  width: 60%
}
/* .rsvp-form__container div {
  margin: 10px 0;
} */

/* .rsvp-form__container label {
  margin: 10px;
} */

/* .rsvp-form__container input[type="radio"] {
  margin-right: 5px;
} */

.group-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 8px;
}

.group-members label {
  margin: 2px;
}

#member-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.meal-preferences {
  display: flex; 
  flex-direction: row !important;
  gap: 80px; 
  margin-top: 20px; 
  box-sizing: border-box;
  flex-wrap: wrap;
}

.special-request {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-request textarea {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
  display: block;
}

.special-request-label {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

/* BUTTONS */
.rsvp-btns {
  color: white;
  display: flex; 
  flex-direction: row !important;
  gap: 10px !important;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.rsvp-option:hover {
  background-color: #ccd584;
}

.rsvp-option.selected {
  background-color: var(--primary-green);
  color: rgb(255, 255, 255);
  border-color: var(--primary-accent-dark);
}

.meal-btns {
  color: white;
  display: flex; 
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.meal-option {
  color: white;
  cursor: pointer;
  padding: .9rem 2.2rem;
  background-color: var(--primary-red);
  border: none;
}

.meal-option:hover {
  background-color: #ccd584;
}

.meal-option.selected {
  background-color: var(--primary-green);
  color: rgb(255, 255, 255);
  border-color: var(--primary-accent-dark);
}

.welcome-option:hover {
  background-color: #ccd584;
}

.welcome-option.selected {
  background-color: var(--primary-green);
  color: rgb(255, 255, 255);
  border-color: var(--primary-accent-dark);
}

#parentheses{
  font-style: italic;
}

/* -------------- MEDIA QUERIES --------------- */
@media (max-width: 768px) {
  .rsvp-form__container {
    padding: 45px 25px;
  }
  #disclaimer {
    width: 100%;
    margin-bottom: 1rem;
  }
  .meal-preferences {
    flex-direction: column !important; 
    gap: 15px; 
  }
}