
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 10vh;
}

.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-red);
  color: white;
  height: 60%;
}
.lower-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 40%;
  font-size: 13px;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 768px) {
  .footer {
    padding:0;
  }
}