.App {
  text-align: center;
}
.main__content {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 1fr;
  padding: 3rem;
  padding-bottom: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

/* .main__content > div {
  border: 1px solid gray;
  padding: 10px; 
} */

/* .header, .footer {
  grid-column: span 1;
} */


/* ----- MEDIA QUERIES ----- */

@media (max-width: 768px) {
  .main__content {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    border: none;
    padding: 3rem 0;
  }
/* 
  .header, .footer {
    grid-column: span 1;
  } */
}