@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital@1&display=swap');

@font-face {
  font-family: "Burgues Script";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/BurguesScript-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
 }
 
 :root {
  --header-height: 30px;
  --first-color: hsl(0, 0%, 2%);
  --title-color: hsl(12, 47%, 68%);
  --primary-orange: rgb(249, 193, 128);
  --primary-neutral:rgb(249, 248, 245);
  --primary-green: #c2ce68;
  --button-hover: #ccd584;
  --primary-blue: #afc8d9;
  --primary-cream: #fff1d6;
  --secondary-green: #8fa253;
  --primary-purple:  #ad718c;
  --text-color: rgb(61, 58, 58);
  --body-color: white;
  --body-font: "Jost", serif;
  --title-font: "Bodoni Moda", serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --border-padding: 3rem;
 }
 
 body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: 200;
 }
 
 ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }

 .btn {
  width: max-content;
  display: inline-block;
  cursor: pointer;
  padding: .9rem 2.2rem;
  background-color: var(--primary-green);
  border: none;
  color: white;
  /* transition: var(--transition); */
}

.btn:hover {
  background-color: var(--button-hover);
  color: white;
  border-color: transparent;
}

/* 
 // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.bodoni-moda-<uniquifier> {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
