.details__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px; 
  grid-template-areas: 
    "details__hero details__hero details__hero details__hero details__hero details__hero"
    "TAA__container TAA__container TAA__container TAA__container TAA__container TAA__container"
    "photo-block photo-block photo-block photo-block photo-block photo-block"
    "schedule-block schedule-block schedule-block events-block events-block events-block"
    "bottom-block bottom-block bottom-block bottom-block bottom-block bottom-block"; 
} 

.details__hero { 
  grid-area: details__hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  background-color: var(--primary-neutral);
}

.details__hero .vl {
  width: 1px;
  height: 7rem;
  color: black;
  margin: 1%;
}

#hero-title {
  font-size: 4rem;
  font-style: italic;
  margin: 1.5rem;

}

#hero-subtext {
  font-size: 2.6rem;
  font-weight: 200;
  text-align: center;
  width: 65%;
  line-height: 1.3;
  margin-bottom: 6%;
}

.TAA__container {
  grid-area: TAA__container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 0px; 
  grid-template-areas: 
    "transportation-block accomodation-block attire-block"; 
}

.TAA__container .vl {
  width: 1.6px;
  height: 55px;
  margin: 1.5rem 0;
}

.TAA__container h2 {
  font-weight: 380;
  font-size: 1.3rem;
  margin: 0;
  padding-top: 8rem;
  letter-spacing: 3px;
}

.TAA__container p {
  font-size: 18px;
  margin: 0;
}

.transportation-block, .accomodation-block, .attire-block {
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  align-items: start;
  text-align: center;
  padding: 1rem 3rem;
}

.transportation-block {
  grid-area: transportation-block;
  background-color: var(--primary-blue);
  color: var(--primary-cream);
}

.transportation-block .vl {
  background-color: var(--primary-cream);
}

.accomodation-block {
  grid-area: accomodation-block;
  background-color: var(--primary-cream);
  color: var(--primary-green);
}

.accomodation-block .vl {
  background-color: var(--primary-green);
  width: 1.7px;
}

.attire-block {
  grid-area: attire-block;
  background-color: var(--primary-purple);
  color: var(--primary-cream);
}

.attire-block .vl {
  background-color: var(--primary-cream);
}


.photo-block {
  grid-area: photo-block;
  background-image: url("../../../public/assets/amsterdam.JPG");
  background-size: cover;
  background-position: center bottom  29%;
}

.schedule-block {
  grid-area: schedule-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-red);
  color:var(--primary-cream)
}

.schedule-block .vl {
  background-color: var(--primary-cream);
  height: 55px;
  margin: 1.5rem 0;
}

.schedule-block h2 {
  font-size: 1.3rem;
  font-weight: 380;
}

.schedule-block h1 {
  font-family: var(--title-font);
  font-size: 2.5rem;
}

.schedule-block p {
  font-size:20px;
}

.events-block {
  grid-area: events-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;;
  background-color: var(--primary-neutral);
}

.events-block .event {
  font-size: 20px;
}

.events-block p {
  font-size: 17px;
}

.events-block .event-time {
  color: var(--primary-red);
  font-family: var(--title-font);
  font-size: 3.5rem;
  font-weight: 500;
  display: inline;
}

.events-block .dot {
  font-size: 25px;
  margin-top: 1.2rem;
  margin-bottom: -1.5rem;
}


.bottom-block { 
  grid-area: bottom-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (max-width: 768px) {
  .details__container {
    display: flex;
    flex-direction: column;
  }
  .details__hero,
  .TAA__container,
  .photo-block,
  .schedule-block,
  .events-block,
  .bottom-block {
    width: 100%;
  }

  .details__hero .vl {
    height: 5rem;
  }

  #hero-title {
    font-size: 3rem;
    margin: 1rem;
  }

  #hero-subtext {
    font-size: 1.8rem;
    line-height: 1.1;
    margin-bottom: 12%;
  }
  .TAA__container {
   display: flex;
   flex-direction: column;
  }
  .accomodation-block, .transportation-block, .attire-block {
    padding: 4rem 1rem;
  }
  
  .TAA__container p {
    padding-bottom: 0;
  }
  .TAA__container h2 {
    padding-top: 0;
  }

  .schedule-block, .events-block {
    padding: 4rem 0;
  }

  .bottom-block {
    padding: 4rem 0;
  }
}